* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    src: url(../fonts/handwriting-black-draft_DEMO.otf);
    font-family: handwriting;
}

/* Handwriting font */
@font-face {
    src: url(../fonts/Minecrafter.Reg.ttf);
    font-family: minecraft;
}

/* Minecraft clean font */
@font-face {
    src: url(../fonts/Minecrafter.Alt.ttf);
    font-family: minecraft_cracked;
}

/* Minecraft cracked font */
@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

:root,
.light {
    /*root used primarily for theming*/
    --accent-color: hsl(204, 100%, 50%);
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --off-background-color: rgb(230, 230, 230);
    --grey: rgb(212, 212, 212);
    --logo: url('../img/cupcake-svgrepo-com.svg');
    --inversion_factor: invert(0);
}

.dark {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --grey: rgb(54, 54, 54);
    --inversion_factor: invert(1);
    /*Invert black and white images*/
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(0, 0, 0);
        --grey: rgb(54, 54, 54);
    }
}

body {
    font-family: Lexend_Deca, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    height: 100%;
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
}

.loading_spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 10rem;
    width: 10rem;
    background-image: url('../img/disconnected-svgrepo-com-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.main_view_active,
.main_view {
    position: fixed;
    display: none;
    top: 2.5rem;
    right: 0;
    width: 100vw;
    height: calc(100vh - 2.5rem);
    background-color: var(--background-color);
    color: var(--text-color);
}

.main_view_active {
    display: block;
}

/* Navigation Bar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 100vw;
    background-color: var(--off-background-color);
}


/* Logo and branding in the top bar */
.branding_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 13.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: var(--off-background-color);
    transform: scale(1);
    border-radius: 0rem 0rem 0.2rem 0rem;
    transition: scale 300ms, transform 300ms;
}

.branding_block:hover {
    background-color: var(--background-color);
}

.branding_block:active {
    background-color: var(--accent-color);
    transform: scale(0.96);
    transition: scale 300ms, transform 100ms;
}

.logocontainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--logo);
}

.logotext {
    position: relative;
    top: 0;
    left: 2.5rem;
    height: 2.5rem;
    width: 11rem;
    text-align: center;
    justify-content: center;
    font-size: 1.15rem;
    line-height: 2.5rem;
    user-select: none;
}

.actionbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    width: auto;
}

.account_callout_button {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    box-sizing: border-box;
    border: 0.1rem solid var(--grey);
    cursor: pointer;
    background-color: var(--off-background-color);
    border-radius: 50%;
    transform: scale(1);
    transition: scale 300ms, transform 300ms, border-radius 300ms;
}

.account_callout_button:hover {
    background-color: var(--grey);
    border-radius: 40%;
}

.account_callout_button:active {
    transform: scale(0.96);
    transition: scale 300ms, transform 100ms;
}

.account_callout_button img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}


.cart_button {
    position: absolute;
    top: 0;
    right: 2.5rem;
    height: 2.5rem;
    width: 3rem;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url('../img/cart-shopping-svgrepo-com.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--off-background-color);
    transform: scale(1);
    border-radius: 0rem 0rem 0.2rem 0rem;
    transition: scale 300ms, transform 300ms;
}

.cart_button:hover {
    background-color: var(--grey);
}

.cart_button:active {
    background-color: var(--accent-color);
    transform: scale(0.96);
    transition: scale 300ms, transform 100ms;
}

.search_button {
    position: absolute;
    top: 0;
    right: 5.5rem;
    height: 2.5rem;
    width: 3rem;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url('../img/search-alt-2-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);
    border-radius: 0rem 0rem 0.2rem 0rem;
    transition: scale 300ms, transform 300ms;
}

.search_button:hover {
    background-color: var(--grey);
}

.search_button:active {
    background-color: var(--accent-color);
    transform: scale(0.96);
    transition: scale 300ms, transform 100ms;
}

/* 
    Account callout menu
*/
.account_dropdown,
.account_dropdown_hidden {
    position: absolute;
    top: 2.5rem;
    right: 0;
    height: auto;
    min-height: 4rem;
    width: 12rem;
    background-color: var(--background-color);
    box-shadow: 0rem 0rem 0.2rem 0.1rem var(--text-color);
    border-radius: 0.3rem;
    overflow: hidden;
    user-select: none;
}

.account_dropdown_hidden {
    display: none;
}

.account_dropdown_item,
.account_dropdown_item_hidden {
    position: relative;
    height: 2.5rem;
    width: 100%;
    /*line-height: 2.5rem;*/
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.2rem;
    transition: background-color 300ms, transform 300ms;
}

.account_dropdown_item_hidden {
    display: none;
}

.account_dropdown_item:hover {
    background-color: var(--grey);
    transform: scale(1.01);
    transition: background-color 300ms, transform 300ms;
}

.account_dropdown_item:active {
    background-color: var(--accent-color);
    transform: scale(0.96);
    transition: background-color 0ms, transform 0ms;
}

.account_dropdown_image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-image: url('../img/cupcake-svgrepo-com.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Login_img {
    background-image: url('../img/login-svgrepo-com.svg');
}

.Account_img {
    background-image: url('../img/account-svgrepo-com.svg');
    background-size: 80%;
}

.Orders_img {
    background-image: url('../img/orders-svgrepo-com.svg');
}

.logout_img {
    background-image: url('../img/logout-svgrepo-com.svg');
    background-size: 80%;
}

.account_dropdown_item_label {
    position: absolute;
    top: 0;
    left: 2.5rem;
    height: 2.5rem;
    width: calc(100% - 2.5rem);
    line-height: 2.5rem;
    font-size: 1.2rem;
    text-align: left;
    user-select: none;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

/* 
    Cake Gallery/catalog/'inventory'
*/
.Cake_cattalog_container,
.Cake_cattalog_container_shoved {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: width 500ms;
}

.Cake_cattalog_container_shoved {
    width: 60%;
}

.Cake_cattalog {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.Cake_pedistal {
    position: relative;
    overflow: hidden;
    height: 17rem;
    width: 10rem;
    margin: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0.07rem 0.07rem 0.2rem 0.1rem;
    background-color: var(--background-color);
    cursor: pointer;
}

.Cake_pedistal:hover {
    box-shadow: 0.07rem 0.07rem 0.4rem 0.2rem;
}

.cake_img {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    min-height: 10rem;
    min-width: 10rem;
    height: 10rem;
    width: 10rem;
    background-image: url('../img/bakery-display-racks-donracks-rack-manuafacturer-india.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cake_pedistal_description {
    position: relative;
    /*top: 12rem;*/
    height: auto;
    width: 10rem;
    font-size: 0.9rem;
    padding: 0.1rem;
    white-space: wrap;
    box-sizing: border-box;
    text-align: center;
}

.cake_pedistal_title {
    position: relative;
    /*top: 10rem;*/
    height: auto;
    font-size: 1.3rem;
    white-space: wrap;
    text-align: center;
    width: 10rem;
    line-height: 1.3rem;
}

.cake_pedistal_price {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    white-space: wrap;
    width: auto;
    font-size: 1rem;
    text-align: right;
    box-sizing: border-box;
    padding: 0.3rem;
}

/* 
    Cake Display panel
*/
.cake_display,
.cake_display_hidden {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: var(--background-color);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cake_display_hidden {
    display: none;
}

.close_button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    width: 3rem;
    background-image: url('../img/close-md-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.cake_display .title {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 1.7rem;
    height: 1.7rem;
    text-align: center;
    color: var(--text-color);
}

.cake_display .banner_cake {
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 20rem;
    background-image: url('../img/bakery-display-racks-donracks-rack-manuafacturer-india.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cake_display_price {
    position: absolute;
    top: 23rem;
    width: 100%;
    height: auto;
    line-height: auto;
    font-size: 1.1rem;
    text-align: right;
    box-sizing: border-box;
    padding: 0.3rem;
    color: var(--text-color);
}

.cake_display .description {
    position: absolute;
    top: 24.5rem;
    width: 100%;
    height: auto;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    color: var(--text-color);
}

.cake_quantity_selector {
    position: absolute;
    bottom: 0.5rem;
    width: 80%;
    left: 0.5rem;
    width: calc(50% - 1rem);
    height: 3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--text-color);
}

.add_to_cart_button,
.add_to_cart_button_hidden {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    width: calc(50% - 1rem);
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0rem 0rem 0.2rem 0.1rem var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    overflow: hidden;
}

.add_to_cart_button_hidden {
    display: none;
}

/* 
    Login dialog
*/
.Login_dialog,
.Login_dialog_hidden {
    position: fixed;
    top: 2.5rem;
    right: 0;
    min-height: 14rem;
    height: auto;
    width: 25rem;
    background-color: var(--background-color);
    box-shadow: 0rem 0rem 0.2rem 0.1rem var(--text-color);
    border-radius: 0.3rem;
    display: block;
    overflow: hidden;
}

.Login_dialog_hidden {
    display: none;
}

.logintitle {
    position: relative;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    color: var(--text-color);
    line-height: 1.7rem;
}

.Login_dialog .close_button {
    top: 0.2rem;
    right: 0.2rem;
    height: 2rem;
    width: 2rem;
}

.Login_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 100%;
    background-color: var(--background-color);
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    color: var(--text-color);
}

.Login_input_label {
    position: absolute;
    top: -1rem;
    left: 1rem;
    height: 1.4rem;
    width: auto;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: left;
    border-radius: 1rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--text-color);
    background-color: var(--background-color);
    z-index: 10;
}

.Login_input_container {
    position: relative;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    height: 2.5rem;
    width: calc(100% - 1rem);
    background-color: var(--background-color);
    /*box-shadow: 0rem 0rem 0.2rem 0.1rem var(--text-color);*/
    border: 0.2rem solid var(--background-color);
    border-radius: 0.2rem;
}

.Login_button {
    position: relative;
    margin-left: 30%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    width: 40%;
    background-color: var(--text-color);
    color: var(--background-color);
    box-shadow: 0rem 0rem 0.2rem 0.1rem var(--background-color);
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
    transition: scale 300ms, box-shadow 300ms, transform 300ms, background-color 500ms;
    user-select: none;
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

.Login_button:hover {
    box-shadow: 0rem 0rem 0.2rem 0.1rem var(--accent-color);
}

.Login_button:active {
    background-color: var(--accent-color);
    transform: scale(0.96);
    transition: scale 0ms, box-shadow 0ms, transform 0ms, background-color 0ms;
}

.Login_error_message,.Login_error_message_hidden {
    position: relative;
    height: auto;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color);
    line-height: 1rem;
    box-sizing: border-box;
    padding: 0.2rem;
    text-shadow: 0rem 0rem 0.1rem rgba(255, 0, 0, 0.552);
    display: block;
}
.Login_error_message_hidden {
    display: none;
}


#cart_page{

}

#cart_page .title,#checkout_page .title{
    position: relative;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    text-align: center;
}

.cart_container{
    position: absolute;
    left: 0;
    top: 2.5rem;
    height: calc(100% - 2.5rem);
    width: 50%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart_item{
    position: relative;
    overflow: hidden;
    height: 5rem;
    min-width: 15rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0.07rem 0.07rem 0.2rem 0.1rem var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.cart_item_price{
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    white-space: wrap;
    width: auto;
    font-size: 0.8rem;
    text-align: right;
    box-sizing: border-box;
    padding: 0.2rem;
    color: var(--text-color);
}

.cart_item_img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-height: 5rem;
    min-width: 5rem;
    height: 5rem;
    width: 5rem;
    background-image: url('../img/bakery-display-racks-donracks-rack-manuafacturer-india.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart_item_title{
    position: absolute;
    top: 0;
    left: 5rem;
    height: 1.2rem;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: calc(80% - 5rem);
    line-height: 1.2rem;
    padding-left: 0.6rem;
}

.cart_item_description{
    position: absolute;
    top: 1.3rem;
    left: 5rem;
    height: 3.7rem;
    font-size: 0.9rem;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: calc(80% - 5rem);
    line-height: 1.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.cart_item_quantity{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: calc(40% - 5rem);
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    color: var(--text-color);
}

.cart_summary{
    position: absolute;
    top: 2.5rem;
    right: 0;
    height: calc(100% - 2.5rem);
    width: 50%;
    background-color: var(--background-color);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.checkout_button{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    width: calc(50% - 1rem);
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0rem 0rem 0.2rem 0.1rem var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    overflow: hidden;
}

/* 
    checkout page
*/
.checkout_actors{
    position: relative;
    width: 60%;
    height: auto;
    left: 0;
}

.Payment_method_container{
    position: relative;
    width: 90%;
    height: 12rem;
    margin-left: 5%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0.07rem 0.07rem 0.2rem 0.13rem var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: default;
}
.title_Payment_method{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
    color: var(--text-color);
}

/*    <--  Landscape layout (with min-width) -->     */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}